<template>
  <div class="add-farm-wrapper dp-flex f-drt-column al-it-center">
    <span class="no-farm-text f-w-500">คุณยังไม่มีข้อมูลฟาร์ม</span>
    <nuxt-link class="add-first-farm-text cl-primary f-w-500" to="/account/farm/add">
      กดที่นี่เพื่อเพิ่มฟาร์มแห่งแรกของคุณ
    </nuxt-link>
  </div>
</template>

<style lang="less" scoped>
.add-farm-wrapper {
  padding: 26px 0px;
  .no-farm-text {
    color: #424242;
    font-size: 2.2rem;
  }
  .add-first-farm-text {
    margin-top: 22px;
    font-size: 2.2rem;
  }
}
</style>
