<template>
  <a-form-item
    class="text-input"
    :label="label"
    :label-col="{
      span: 8
    }"
    :wrapper-col="{ span: 12 }"
  >
    <a-input :placeholder="placeholder" />
  </a-form-item>
</template>

<script>
export default {
  props: {
    label: String,
    placeholder: String
  }
}
</script>

<style lang="scss" scoped>
.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}
.input {
  &.left {
    flex-basis: 50%;
    > label {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 500;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }
  }
  &.right {
    flex-basis: 50%;
  }
}
</style>
