<template>
  <div id="baseFooter">
    <hr>
    <base-container>
      <div>
        <a-row :columns="5" type="flex" justify="center">
          <a-col
            :span="5"
            :xs="12"
            :md="5"
          >
            <h4>Company</h4>
            <nuxt-link
              v-for="(item, index) in company"
              :key="index"
              class="footer__link dp-block"
              :to="item.link"
            >
              {{ item.label }}
            </nuxt-link>
          </a-col>
          <a-col
            :span="5"
            :xs="12"
            :md="5"
          >
            <h4>How to use</h4>
            <p v-for="(item, index) in howToUse" :key="index">
              {{ item }}
            </p>
          </a-col>
          <a-col
            :span="5"
            :xs="12"
            :md="5"
          >
            <h4>Services</h4>
            <p v-for="(item, index) in services" :key="index">
              {{ item }}
            </p>
          </a-col>
          <a-col
            :span="5"
            :xs="12"
            :md="5"
          >
            <h4>Members</h4>
            <p v-for="(item, index) in member" :key="index">
              {{ item }}
            </p>
          </a-col>
          <a-col
            :span="4"
            :xs="12"
            :md="4"
          >
            <h4>Resources</h4>
            <p v-for="(item, index) in resources" :key="index">
              {{ item }}
            </p>
          </a-col>
        </a-row>
        <a-row justify="center" type="flex" style="margin-top: 20px;">
          <a-col text-align="center">
            <no-ssr>
              <label>
                <i class="fab fa-facebook" style="height: 20px; margin: 0 4px;" />
                <i class="fab fa-instagram" style="height: 20px; margin: 0 4px;" />
                <i class="fab fa-twitter" style="height: 20px; margin: 0 4px;" />
                <i class="fab fa-youtube" style="height: 20px; margin: 0 4px;" />
              </label>
            </no-ssr>
          </a-col>
        </a-row>
        <a-row justify="center" type="flex" style="margin-top: 8px; margin-bottom: 20px;">
          <a-col text-align="center">
            <p>Mhao Mhao © 2018 • Privacy Policy</p>
          </a-col>
        </a-row>
      </div>
    </base-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      company: [
        { label: 'About',
          link: ''
        },
        { label: 'Career',
          link: ''
        },
        { label: 'Contact',
          link: ''
        },
        { label: 'Privacy & Policy',
          link: '/policy'
        }
      ],
      howToUse: [
        'Auction System / Rules',
        'Hire Appraiser',
        'Hire Harvester',
        'Hire Transport',
        'Help Center'
      ],
      services: [
        'Auction',
        'Appraiser',
        'Harvester',
        'Transport',
        'Standard'
      ],
      member: [
        'Buyer List',
        'Seller List',
        'Appraiser List',
        'Harvester List',
        'Transport List'
      ],
      resources: [
        'Marketing Data',
        'News',
        'Knowledge'
      ]
    }
  }
}
</script>

<style lang="less" scoped>
#baseFooter {
  margin-top: 50px;
}
hr {
  margin-bottom: 50px;
  color: #f3f3f3;
  border-top: 1px solid #f3f3f3;
}
h4 {
  font-size: 1.8rem;
  word-break: break-word;
}
p {
  margin-bottom: 3px;
  word-break: break-word;
}
.footer {
  &__link {
    margin-bottom: 3px;
    line-height: 1.4285em;
  }
}
</style>
